<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="main-nav">
          <ul>
            <li><a href="/menu.html">Меню</a></li>
            <li><a href="/actions.html">Акции</a></li>
            <li><a href="/blog.html">Блог</a></li>
          </ul>
        </nav>
        <h1><a href="/">Nordi<strong>Club</strong></a></h1>
      </div>
    </header>
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <a href="http://jashilko.ru">Created by Jashilko</a>
        {% include svg-icons.html %}
      </div>
    </footer>
  </body>
</html>
